<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>WebIDE</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="#fff" />
        <link rel="manifest" href="/manifest.json">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
        <link rel="stylesheet" href="./bower_components/material-design-lite/material.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.blue-red.min.css" /> 
        <link rel="stylesheet" href="./bower_components/components-font-awesome/css/font-awesome.min.css" /> 
        <style>
            body{
                font-family: 'Roboto', sans-serif;
            }
            
            .mdl-layout {
                align-items: center;
                justify-content: center;
            }
            
            .mdl-layout__content {
                padding: 24px;
                flex: none;
            }
        </style>
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-color--grey-100">
            <main class="mdl-layout__content">
                <div class="mdl-card mdl-shadow--6dp">
                    <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
                        <h2 class="mdl-card__title-text">WebIDE</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <a href="/auth/github" class="mdl-button mdl-js-button mdl-button--raised">
                            <i class="fa fa-github" aria-hidden="true"></i> <%= __('Login with Github') %>
                        </a>
                        <form action="/login" method="post">
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" id="username" name="username" />
                                <label class="mdl-textfield__label" for="username"><%= __('Username') %></label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="password" id="password" name="password" />
                                <label class="mdl-textfield__label" for="userpass"><%= __('Password') %></label>
                            </div>
                            
                            <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" value="<%= __('Login') %>">
                        </form>
                    </div>
                    <% if (message.length > 0) { %>
                    <div class="mdl-card__actions mdl-card--border">
                        <center><%= message %></center>
                    </div>
                    <% } %>
                </div>
            </main>
        </div>
        
        <script type="text/javascript" src="./bower_components/material-design-lite/material.min.js"></script>  
    </body>
</html>

